*{
  margin: 0 0 0 0;
  padding: 0px;
}

form{
  position: static;
  display: block;

}

h2 {
  padding-left: 2rem;
  margin-left: 140px;
  color: white;
  font-family: lato;
  font-style: normal;
  font-weight: 300;
  position: static;
  text-align: left;
}
/*Inicio de menu sidebar*/

.logo svg {
  display: flex;
  position: static;
  margin-left: 22px;
  position: static;
  display: block;
}

.namesite {
  margin-top: -18px;
  margin-left: 22px;
  font-size: 10px;
  font-family: "lato", sans-serif;
  position: static;
  display: block;
}

.sidebar_nav {
  height: 1000px;
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #000000;
}

.sidebar_menu {
  padding-top: 100px;
  position: static;
  display: list-item;
  text-align: left;
}

.sidebar_menu a {
  padding-top: 200px;
  text-decoration: none;
  font-size: 20px;
  color: whitesmoke;
  text-align: justify;
  line-height: 2;
  font-family: lato, sans-serif;
  margin-left: 20%;
}

.buttonsp {
  margin-top: 480px;
  margin-left: 20px;
  display: list-item;
}

#SU {
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 40px;
  border-radius: 20px;
  background-color: whitesmoke;
  border: none;
  position: relative;
  text-align: left;
  margin-bottom: 10px;
}

#LI {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 30px;
  border-radius: 20px;
  background: none;
  border: solid 1px white;
  position: relative;
  text-align: left;
}
/*Fin de menu sidebar*/

/*Login form*/

.containerPrincipal {
  place-content: center;
  display: grid;
}

#lineDiv {
  position: absolute;
  top: 55%;
  left: 50%;
  right: 50%;
}

.tituloForm {
  margin-top: 64px;
  margin-left: 500px;
  align-content: center;
}

.tituloForm h3 {
  font-size: 24px;
  font-family: "lato", sans-serif;
}

.logIn {
  margin-left: 500px;
  justify-content: center;
}

#Email {
  border-radius: 10px;
  padding: 14px;
  padding-right: 84px;
  border: none;
  margin-bottom: 14px;
  background-color: #eeeeee;
}

#pssW {
  border-radius: 10px;
  padding: 14px;
  padding-right: 84px;
  border: none;
  background-color: #eeee;
}

.fgtPss h3 {
  font-size: 18px;
  font-family: "lato", sans-serif;
}

#fPss {
  border-radius: 10px;
  padding: 14px;
  padding-right: 84px;
  border: none;
  background-color: #dddddd;
  margin-bottom: 20px;
}

.btRS {
  margin-left: 500px;
}

#lwG {
  border-radius: 16px;
  padding: 10px;
  padding-left: 10px;
  padding-right: 100px;
  border: solid#eeeeee 2px;
  background: none;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  align-content: center;
}

#lwA {
  border-radius: 16px;
  padding: 10px;
  padding-left: 10px;
  padding-right: 110px;
  border: solid#eeeeee 2px;
  background: none;
  font-size: 14px;
  font-weight: bold;
  align-content: center;
}
.aAccount {
  margin-top: 80px;
  margin-left: 500px;
}

.aAccount p {
  font-family: "lato", sans-serif;
  font-size: 12px;
}
/*Espacio entre ultimo boton y footer*/
.btAcc {
  margin-bottom: 164px;
}

/*Caracteristicas de ultimo boton*/

#haA {
  margin-left: 500px;
  border-radius: 16px;
  padding: 10px;
  padding-left: 10px;
  padding-right: 244px;
  border: solid#eeeeee 2px;
  background: none;
  font-size: 14px;
  font-weight: bold;
}

/*Inicio de Footer*/

footer {
  background-color: #000000;
  position: static;
  height: -40%;
  width: 100%;
  text-align: left;
  bottom: 0;
  z-index: 0;
}

.titleFooter {
  margin-top: 20px;
  font-size: 52px;
  margin-left: 164px;
  font-family: "lato", sans-serif;
  justify-content: left;
}

.footerLink ul {
  margin-left: 54px;
  flex-wrap: nowrap;
  place-content: right;
  list-style: none;
  color: white;
}

.titulosFooter {
  margin-right: 64px;
  margin-top: -10%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: right;
}
.titulosFooter h4 {
  display: block;
  margin-left: -20px;
  color: white;
  font-family: "lato", sans-serif;
}

.footerLink {
  justify-content: right;
  margin-right: 10px;
  margin-top: 24px;
  display: block;
}

.footerLink a {
  list-style: none;
  font-family: "lato", sans-serif;
  color: white;
  text-decoration: none;
}

.footerLink li {
  margin: 0 -20px;
  line-height: 44px;
}

.footerLink a:hover {
  color: whitesmoke;
}

.elementosFooter {
  align-content: first baseline;
}

.logoF {
  justify-content: left;
  display: block;
}

.logoF svg {
  display: flex;
  position: static;
  margin-left: -750px;
}

.namesiteF {
  margin-top: -18px;
  margin-left: -754px;
  font-size: 14px;
  font-weight: bold;
  font-family: "lato", sans-serif;
  position: static;
  justify-content: left;
}

.buttonspF {
  margin-top: 20px;
  margin-left: 850px;
  display: flex;
  justify-content: right;
  margin-right: 32px;
}

#TFF {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  background: none;
  border: solid 1px white;
  position: static;
}

#DN {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  background: none;
  border: solid 1px white;
  position: static;
}

.rightsReserved {
  margin-left: 150px;
  margin-top: 16px;
  justify-content: space-around;
  place-content: left;
  margin: 0 10 0 0px;
}

.rightsReserved a {
  font-size: 12px;
  list-style: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.671);
  font-family: "lato", sans-serif;
}

.copyright {
  color: rgba(255, 255, 255, 0.671);
  font-family: "lato", sans-serif;
  font-size: 12px;
  justify-content: right;
  margin-top: -26px;
  justify-content: right;
  margin-left: 1100px;
  place-content: right;

}
